*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins";
}
.container
{
    max-width: 380px;
    margin: auto;
    margin-top: 100px;
    background:#64b5f6;
    text-align: center;
    border-radius: 20px;
    padding: 40px;
    color: #fff;
    box-sizing: border-box;
}
h2
{
    color: #000;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}
input
{
    width: 100%;
    margin: 10px 0; 
    outline: none;
    background-color:transparent;
    color: #fff ;
    padding: 10px 6px;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #fff;
}
button
{
    width: 40%;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 20px;
    color:#fff;
    background:rgba(0,0,0,0.7);
    font-size: 1.2rem;padding: 5px;
    cursor: pointer;
    transition: .9s;
    transform: scale(1);
    border-radius: 15px;
}
input
{
    font-family: "Poppins";
    font-weight: lighter;
    color: #000;
    
}
small
{
    color: black;
}
img
{
    top: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}